.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 4rem 2rem 5rem;

    background-image: url("../assets/store-bg.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    height: 50vh;
    margin-top: 61px;
    padding-bottom: 5rem;

}

.hero-content {
    flex: 1;
    max-width: 600px;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image img {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 1rem;
    color: #FAFAFA;
    line-height: 120%;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #ACB0B4;
    font-weight: 600;
}

.hero-buttons {
    display: flex;
    justify-content: flex-start;
    /* Center buttons horizontally */
    align-items: center;
    gap: 1rem;
    /* Space between buttons */
    margin-top: 1rem;
    margin-left: 0rem;
}

.red-button {
    background-color: #EF4444;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    font-family: monospace;
    border-radius: 5px;
    margin-right: 3.5rem;
}

.white-button {
    background-color: white;
    color: black;
    border: 0px solid white;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    font-family: monospace;
    border-radius: 5px;

}

.red-button:hover {
    background-color: darkred;
}

.white-button:hover {
    background-color: lightgray;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding-top: 2rem;
        margin: 1rem, 2rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;


    }

    .hero-content {
        max-width: 100%;
    }

    .hero h1 {
        text-align: left;
        font-size: 1.8rem;
        margin: 0rem;
    }

    .hero p {
        text-align: left;
        font-size: 1rem;
    }

    .hero-buttons {
        justify-content: center;
    }

    .hero-image {
        min-width: 100%;
        max-width: 250%;
        order: -1;
        margin-bottom: 1.8rem;
        margin-top: 0rem;
        margin: 0;
        padding: 0;

    }

    .hero-image img {
        width: 120%;
        min-width: 100%;
        margin-bottom: 1.5rem;

    }

    .red-button {
        font-size: 1rem;
        margin: 0rem;
        padding: 0.6rem 0.2rem;
    }

    .white-button {
        font-size: 1rem;
        margin: 0rem;
        padding: 0.6rem 0.2rem;
    }
}