/* Auth.css */
.auth-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #0E0C0C;
    padding-top: 1rem;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;

}

.auth-box {
    background-color: #0E0C0C;
    border: 2px solid red;
    padding: 0px 30px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(255, 0, 0, 0.5);
    max-height: 600px;
    margin-top: 0rem;

}

.auth-box h2 {
    color: white;
    margin-bottom: 0px;
    padding-top: 0;
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;
}

.auth-box p {
    color: #bbb;
    margin-bottom: 0px;
    margin-top: 0rem;
}

.input-group {
    margin-bottom: 1rem;
    text-align: left;
}

.input-group label {
    display: block;
    color: white;
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

.input-field {
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 5px;
    padding: 0px;
    position: relative;
    width: 100%;
    min-width: 350px;
    /* Ensure relative positioning */
}

.input-field .icon {
    color: #DE2323;
    position: absolute;
    left: 0.5rem;
    /* Ensure the icon stays at the left */
}

.input-field input {
    flex: 1;
    padding-left: 3rem;
    /* Space for the icon */
    background: none;
    border: none;
    color: white;
    outline: none;

}

.auth-button {
    width: 50%;
    background-color: #DE2323;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 0.5rem;
    transition: background 0.3s;
    margin-bottom: 0.5rem;
}

.auth-button:hover {
    background-color: darkred;
}

p.toggle-text {
    color: #EF4448;
    margin-top: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.toggle-text:hover {
    text-decoration: underline;
}

.username-feedback {
    font-size: 0.9rem;
    margin-top: 5px;
}

.username-feedback.available {
    color: green;
}

.username-feedback.unavailable {
    color: red;
}

.username-feedback.checking {
    color: green;
}

@media (max-width:768px) {
    .auth-container {
        display: flex;
        justify-content: center;
        height: 100vh;
        background-color: #0E0C0C;
        padding: 1.1rem 0.5rem;
        align-items: center;
    }

    .auth-box {
        background-color: #0E0C0C;
        border: 2px solid red;
        padding: 0rem 1.5rem;
        border-radius: 10px;
        width: 100%;
        max-width: 350px;
        text-align: center;
        box-shadow: 0 4px 10px rgba(255, 0, 0, 0.5);
    }

    .auth-box h2 {
        color: white;
        margin-top: 0.4rem;
        margin-bottom: 0.2rem;
        font-size: 1.2rem;
    }

    .auth-box p {
        color: #bbb;
    }

    .input-group {
        margin-bottom: 0.6rem;
        text-align: left;
    }

    .input-group label {
        display: block;
        color: white;
        font-size: 0.8rem;
        margin-bottom: 0.2rem;
    }

    .input-field {
        display: flex;
        align-items: center;
        background-color: #333;
        border-radius: 5px;
        padding: 0.2rem 1rem;
        width: 100%;
        max-width: 250px;
        position: relative;
        min-width: 200px;
    }

    .input-field .icon {
        color: #DE2323;
        position: absolute;
        left: 0.5rem;
    }

    .input-field input {
        flex: 1;
        padding-left: 2.5rem;
        background: none;
        border: none;
        color: white;
        outline: none;
        width: 100%;
        font-size: 0.8rem;
    }

    .auth-button {
        width: 50%;
        background-color: #DE2323;
        color: white;
        border: none;
        padding: 0.5rem 0.5rem;
        border-radius: 5px;
        font-size: 0.8rem;
        cursor: pointer;
        margin-top: 0.5rem;
        transition: background 0.3s;
    }

    .auth-button:hover {
        background-color: darkred;
    }

    p.toggle-text {
        color: #EF4448;
        margin-top: 0.5rem;
        font-size: 0.8rem;
        cursor: pointer;
        text-align: center;
    }

    .toggle-text:hover {
        text-decoration: underline;
    }
}