.dashboard-container {
    margin: 20px auto;
    color: #EAE5E5;
    padding-top: 4rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.dashboard-header h2 {
    margin: 0;
}

.sign-out {
    background-color: #EF4444;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 0rem;
}

.user-details {
    display: flex;
    align-items: center;
    background: #131416;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-info {
    flex: 1;
}

.editprofilebutton {
    background-color: #2563EB;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-profile-form {
    background: #222;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.edit-profile-form label {
    display: block;
    margin: 5px 0 3px;
    color: #EAE5E5;
}

.edit-profile-form input {
    width: 90%;
    padding: 6px;
    border: 1px solid #EAE5E5;
    border-radius: 4px;
    background: #0D0A0A;
    color: white;
    margin-bottom: 10px;
}

.edit-buttons {
    display: flex;
    gap: 10px;
}

.edit-buttons button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-buttons-save {
    margin-top: 0.5rem;
    background-color: #10B981;
    color: white;
}

.edit-buttons-cancel {
    margin-top: 0.5rem;
    margin-left: 1rem;
    background-color: #EF4444;
    color: white;
}

.dashboard-section {
    background: #131416;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.dashboard-section h3 {
    margin: 0 0 5px;
}

.note {
    font-size: 0.9rem;
    color: #F59E0B;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background: #0E0C0C;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    position: relative;
}

.close-popup-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #EF4444;
}

.close-popup-button:hover {
    background-color: #d03f22;
}

input {
    width: 80%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.confrim-password-btn {
    background: #10B981;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.confrim-password-btn:hover {
    background: #10B981;
}

.success-text {
    color: #10B981;
    margin-top: 10px;
    font-size: 0.9rem;
}

.error-text {
    color: #EF4444;
    margin-top: 10px;
    font-size: 0.9rem;
}

.sales-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.sales-table th,
.sales-table td {
    border: 1px solid #EF4444;
}

.sales-table th {
    padding: 0.5rem;

}

.sales-table td {
    padding: 0.3rem;
    font-size: 0.9rem;
    color: #ACB0B4;
}

.total-row {
    font-weight: bold;
    background-color: #131416;
}

.enter-amount-field {
    width: 50%;
}

.generate-amount-btn {
    margin-left: 1rem;
    padding: 0.6rem 1rem;
    border-radius: 10px;
    background-color: #10B981;
    color: white;
}